
/* recentSpeakersSlider.css */
.slick-slider-recent-speakers {
  overflow: hidden;
}

.slick-slider-recent-speakers .slick-list {
  overflow: initial !important;
}

.slick-slider-recent-speakers .slick-slide > div {
  margin: 0 10px;
  float: none !important;
}

/* Set a fixed width on each slide */
.slick-slider-recent-speakers .slick-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  display: inline-flex !important;
  align-items: flex-start;
}

.slick-slider-recent-speakers .speakers-image {
  align-self: center;
  margin-top: 15px; 
}

.slick-slider-recent-speakers .speakers-content {
  height: auto; /* Let it grow as needed or set a specific height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Position the navigation arrows */
.slick-slider-recent-speakers .slick-prev,

.slick-slider-recent-speakers .slick-next {
  position: absolute;
  bottom: -1950px; /* Adjust as necessary */
  transform: translateY(100%);
  z-index: 25;
  display:none !important;
}




/* Custom arrow button styles */
.slick-arrow {
  background-color: #ff0000; /* Red color for demo, change as needed */
  color: #ffffff; /* White text color for demo, change as needed */
  padding: 10px 15px; /* Padding inside the buttons */
  border: none;
  border-radius: 4px; /* Rounded corners */
  font-size: 25px; /* Font size for arrows */
}

/* Position the Previous button to the left of the Next button */
.slick-prev {
  right: 360px; /* Right position for Previous button */
}

/* Position the Next button next to the Previous button */
.slick-next {
  right: 245px; /* Right position for Next button */
}

/* Style the pagination dots */


.slick-dots {
  display:none !important;
  bottom: -500px; /* Position dots below the slider */
}

.slick-dots li {
  margin: 50; /* Margin between dots */
}

.slick-dots li button {
  border: none;
  
}

.slick-dots li.slick-active button:before {
  color: #ffffff; /* Color for active dot, change as needed */
}


.new-speakers-span {
  color: #ff0000; /* Replace with your desired color */
  font: sans-serif !important;
  font-size: 18px;
}
