@import 'normalize.css';

* {
    box-sizing: border-box;
    font-size: .296rem;
}

.mt4 {
    margin-top: .4rem;
}

body,html {
   
}

*::-webkit-scrollbar {
    width: 2px;
    /* 滚动条的宽度 */
    height: 5px;
    /* 滚动条的高度 */
}

*::-webkit-scrollbar-track {
    background-color: #fff;
    /* 滚动条轨道的背景颜色 */
}

*::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.2);
    /* 滚动条拇指的颜色 */
    border-radius: 2px;
    /* 拇指的边框半径 */
}